/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.idea
/.vscode
/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage
storage/*.key
.env
.phpunit.result.cache
